{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block page_header %}
<div class="container header-backspace">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% include 'includes/offer.html' %}
<div class="container mt-5">
    <div class="row">
        {% if cart_items %}

            <div class="col">
                <h4>Your <span class="my-0 logo1">PICK</span><span class="logo2"> & </span><span class="logo1">STRUM</span> Cart</h4>
            </div>
            {% for item in cart_items %}
                <div class="card mb-3 cart-items border-0">
                    <div class="row g-0">
                    <div class="col-3 d-flex">
                        {% if item.product.image %}
                        <img class="img-fluid rounded m-auto" src="{{ item.product.image.url }}" alt="{{ item.product.name }}" width="110px" height="110px">
                        {% else %}
                        <img class="img-fluid rounded m-auto" src="{{ MEDIA_URL }}noimage.png" alt="{{ item.product.name }}" width="110px" height="110px">
                        {% endif %}
                    </div>
                    <div class="col-9">
                        <div class="card-body">
                            <h5 class="card-title">{{ item.product.name }}</h5>
                            <p class="m-0"><small>SKU: {{ item.product.sku|upper }}</small></p>
                            <p class="card-text">Product Price: <small class="text-muted"> €{{ item.product.price }}</small></p>
                            <div class="row">
                                    <div class="col-12 col-md-6">
                                        <form class="form update-form" action="{% url 'update_cart' item.item_id %}" method="POST">
                                            {% csrf_token %}
                                            <div class="input-group" >
                                                    <span class="input-group-text">Quantity:</span>
                                                <select class="border" name="quantity" data-item_id="{{ item.item_id }}" id="id_qty_{{ item.item_id }}">
                                                    <option value="{{ item.quantity }}">{{ item.quantity }}</option>
                                                    <option value="1"> 1</option>
                                                    <option value="2"> 2</option>
                                                    <option value="3"> 3</option>
                                                    <option value="4"> 4</option>
                                                    <option value="5"> 5</option>
                                                    <option value="6"> 6</option>
                                                    <option value="7"> 7</option>
                                                    <option value="8"> 8</option>
                                                    <option value="9"> 9</option>
                                                    <option value="10"> 10</option>
                                                    <option value="15"> 15</option>
                                                    <option value="20"> 20</option>
                                                    <option value="25"> 25</option>
                                                    <option value="30"> 30</option>
                                                    <option value="35"> 35</option>
                                                    <option value="40"> 40</option>
                                                    <option value="45"> 45</option>
                                                    <option value="50"> 50</option>
                                                </select>
                                                <button type="submit" class="border-0 px-2 rounded-end">UPDATE</button>
                                            </div>
                                        </form>
                                    </div>

                                    <div class="col-sm">
                                        <p class="text-end mt-2">Subtotal: €{{ item.product.price | calc_subtotal:item.quantity }}</p>
                                    </div>
                              </div>
                        </div>
                    </div>
                    </div>
                    <form action="{% url 'remove_from_cart' item.item_id %}" method="POST">
                        {% csrf_token %}
                        <button type="submit" class="btn-close delete-btn" aria-label="Remove"></button>
                    </form>

                </div>
                <hr class="my-1">
            {% endfor %}
            <div class="card text-end border-0">
                <div class="card-body">
                  <h5 class="card-title">Cart Total: €{{ total|floatformat:2 }}</h5>
                  <p class="card-text">Delivery: €{{ delivery|floatformat:2 }}</p>
                  <h5>Grand Total: €{{ grand_total|floatformat:2 }}</h5>
                    {% if free_delivery_delta > 0 %}
                        <p class="mb-1 text-danger">
                            Spend <strong>€{{ free_delivery_delta }}</strong> more and get your purchase delivered free!
                        </p>
                    {% endif %}
                  <a href="{% url 'products' %}" class="btn fancy-btn my-1"><i class="fas fa-chevron-left"></i> Continue Shopping</a>
                  <a href="{% url 'checkout' %}" class="btn fancy-btn my-1">Proceed to checkout</a>
                </div>
            </div>
        {% else %}
            <div class="col text-center mt-2">
                <h4>Your <span class="my-0 logo1">PICK</span><span class="logo2"> & </span><span class="logo1">STRUM</span> Cart is Empty</h4>
                <p class="mt-5 mb-5">
                    Your Shopping Cart yearn to be filled. Give it purpose — fill it with quality string Instrument.
                    Continue shopping on the <a class="text-decoration-none" href="{% url 'products' %}"><span class="my-0 logo1">PICK</span><span class="logo2"> & </span><span class="logo1">STRUM</span> homepage</a>,
                    learn about today's <a class="text-decoration-none" href="{% url 'products' %}?category=clearance,deals">deals</a>.
                </p>
            </div>
        {% endif %}
        </div>
    </div>
</div>
 <!-- trust statments here  -->
 {% include 'includes/trust-stm.html' %}
{% endblock %}
