{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'home/css/home.css' %}">
{% endblock %}

{% block extra_title %} About Us{% endblock %}
{% block page_header %}
<div class="container header-backspace">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% if contact_us %}
<div class="container">
    <div class="row">
        <div class="col text-center my-2">
            <h5 class="mb-3">Get in Touch</h5>
            <p>Wish to speak with someone? We sincerely appreciated your feedback. Here is how you can reach us.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6 d-flex justify-content-center align-items-center contact connect-text-contact">
           <div class="p-2">
            <p><i class="fas fa-map-marker pe-2"></i> {{address}}</p>
            <p><i class="fas fa-phone"></i><a class="text-decoration-none ps-2" href="tel:+353831900005" aria-label="call pick n strum on +353831900005"> {{ phone }}</a></p>
            <p>
                <i class="fas fa-at"></i>
                <a class="text-decoration-none ps-2" href="mailto:{{email}}" target="_blank" rel="noopener" aria-label="send a mail to pick n strum">{{email}}</a>
            </p>
           </div>
        </div>
        <div class="col-12 col-md-6">
            <form action="">
                {% csrf_token %}
                <fieldset>
                    <legend>contact us</legend>
                    <div>
                        {{ form.name | as_crispy_field }}
                    </div>
                    <div>
                        {{ form.email | as_crispy_field }}
                    </div>
                    <div>
                        {{ form.body | as_crispy_field }}
                    </div>
                    <div>
                        <input type="submit" value="Contact Us" class="fancy-btn">
                    </div>
                </fieldset>
            </form>
    </div>
    </div>
</div>

{% else %}
<div class="container-fluid connect-hero">
    <div class="row align-items-center justify-content-center">
        <div class="col-12 col-md-7 connect-text-about">
            <div class="col-12">
                <h2 class="mt-3 py-2">About Us</h2>
            </div>
            <p class="m-0">Music is what feelings sound like. We don't merely assume that we are aware. We work hard to deliver
            you the finest because of this.</p>
            <p class="m-0"> We are aware of the work involved in selecting an instrument.
            When you don't get it right, we are all familiar with the crushing disappointment.</p>
            <p>We thus set out to greatly improve and simplify your options for you.</p>
            <p class="m-0">When we first started in 2011, we didn't just start selling instruments; instead, we conducted a
            poll and talked to musicians about their preferences. We conducted effective survey research and
            spoke with the leading brands.</p>
            <p>Armed with these survey's findings. We conducted thorough research and contacted the leading
            brands.</p>
            <p class="m-0">Be confident that you are playing with one of the top players from the best brand when you choose
            your friend.</p>
            <p class="m-0">When selecting your companion, be sure that you are choosing a high-quality instrument from a
            reputable manufacturer with the PICKnSTRUM seal of approval</p>
            <div class="text-end my-3">
                <span class="my-0"><strong>PICK </strong>&<strong> STRUM</strong> </span><i class="fas fa-guitar"></i>
            </div>
        </div>
    </div>
</div>
{% endif %}
<!-- trust statments here  -->
{% include 'includes/trust-stm.html' %}
{% endblock %}
