{% extends "base.html" %}
{% load static %}
{% block extra_title %} Home{% endblock %}
{% block page_header %}
<div class="container header-backspace">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
{% include 'includes/offer.html' %}
 <!-- main content  -->
 <div id="carouselHero" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselHero" data-bs-slide-to="0" class="active" aria-current="true"
        aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselHero" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselHero" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active hero-img-1" data-bs-interval="10000">
        <div class="container hero-box pt-3 px-0 text-center">
          <h1>Music is what feelings sound like.</h1>
          <p>Unleash your feelings with our collection of quality String Instruments!</p>
          <a href="{% url 'products' %}" class="btn btn-lg fancy-btn"><i class="fas fa-shopping-cart pe-2"></i> SHOP NOW</a>
        </div>
      </div>
      <div class="carousel-item hero-img-2" data-bs-interval="10000">
        <div class="container hero-box pt-3 px-0 text-center">
          <h1>Special Deals</h1>
          <p>The best guitars from top brands under one roof</p>
          <a href="{% url 'products' %}?category=clearance,deals" class="btn btn-lg fancy-btn"> <i class="fas fa-shopping-cart pe-2"></i> SHOP NOW</a>
        </div>
      </div>
      <div class="carousel-item hero-img-3" data-bs-interval="10000">
        <div class="container hero-box pt-3 px-0 text-center">
          <h1>Tips and Tricks</h1>
          <p>Yes we Blog! Tips and Trick or How To. You got it!</p>
          <a href="{% url 'blog_home' %}" class="btn btn-lg fancy-btn"><i class="fas fa-blog pe-2"></i> BLOG POSTS</a>
        </div>
      </div>
    </div>
  </div>

 <!-- trust statments here  -->
 {% include 'includes/trust-stm.html' %}
  <!-- category section  -->
  <div class="container mb-5">
    <div class="row row-cols-1 row-cols-md-3 g-4">
      <div class="col-12 col-md-8 col-lg-3 d-none d-lg-block">
        <div class="card  border-0 hero-card">
          <img src="{{ MEDIA_URL }}hero-card-l.png" class="card-img-top hero-card-image" alt="back ground image">
          <div class="card-body text-center hero-card-overlay d-flex justify-content-center align-items-center">
            <div>
              <h4 class="py-2">Guitars</h4>
              <ul class="list-unstyled">
                <li><a  class="nav-link py-2" href="{% url 'products' %}?category=electric_guitar">Electric Guitar</a></li>
                <li><a  class="nav-link py-2" href="{% url 'products' %}?category=acoustic_guitar">Acoustic Guitar</a></li>
                <li><a  class="nav-link py-2" href="{% url 'products' %}?category=bass_guitar">Bass Guitar</a></li>
                <li><a  class="nav-link py-2" href="{% url 'products' %}?category=amps">Amps</a></li>
                <li><a  class="nav-link py-2" href="{% url 'products' %}?category=carry_case">Carry case</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-6">
        <div class="card  border-0 hero-card">
          <img src="{{ MEDIA_URL }}arena.jpg" class="card-img-top" alt="back ground image">
          <div class="card-body text-center hero-card-overlay d-flex justify-content-center align-items-end">
            <div>
              <h5 class="card-title">Saturday Night Special</h5>
              <p class="card-text">Join Us Every Saturday as we celebrate seasoned talents! </p>
              <p>Venue: <a class="nav-link" href="https://3arena.ie/your-tickets" target="_blank" rel="noopener">3Arena Dublin</a> </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card  border-0 hero-card">
          <img src="{{ MEDIA_URL }}hero-card-r.png" class="card-img-top hero-card-image" alt="back ground image">
          <div class="card-body text-center hero-card-overlay d-flex justify-content-center align-items-center">
            <div>
              <h4 class="py-2">Orchestral</h4>
            <ul class="list-unstyled">
              <li><a  class="nav-link py-2" href="{% url 'products' %}?category=violin">Violin</a></li>
              <li><a  class="nav-link py-2" href="{% url 'products' %}?category=cello">Cello</a></li>
              <li><a  class="nav-link py-2" href="{% url 'products' %}?category=banjo">Banjo</a></li>
              <li><a  class="nav-link py-2" href="{% url 'products' %}?category=strings">Strings</a></li>
              <li><a  class="nav-link py-2" href="{% url 'products' %}?category=tuners">Tuners</a></li>
            </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 d-lg-none">
        <div class="card  border-0 hero-card">
          <img src="{{ MEDIA_URL }}hero-card-l.png" class="card-img-top hero-card-image" alt="back ground image">
          <div class="card-body text-center hero-card-overlay d-flex justify-content-center align-items-center">
            <div>
              <h4 class="py-2">Guitars</h4>
            <ul class="list-unstyled">
              <li><a  class="nav-link py-2" href="{% url 'products' %}?category=electric_guitar">Electric Guitar</a></li>
              <li><a  class="nav-link py-2" href="{% url 'products' %}?category=acoustic_guitar">Acoustic Guitar</a></li>
              <li><a  class="nav-link py-2" href="{% url 'products' %}?category=bass_guitar">Bass Guitar</a></li>
              <li><a  class="nav-link py-2" href="{% url 'products' %}?category=amps">Amps</a></li>
              <li><a  class="nav-link py-2" href="{% url 'products' %}?category=carry_case">Carry case</a></li>
            </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}