.connect-hero{
background: #000 url("/media/page-designs/about.jpg") no-repeat fixed center;
}

.connect-text-about{

    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
}
.connect-text-contact {
    position: relative;
  }
  /* https://css-tricks.com/snippets/css/transparent-background-images/ */
.connect-text-contact::after {
    content: "";
    background-image: url("/media/page-designs/contact_us.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
  }
