{% extends "base.html" %}
{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-backspace">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <div class="row">
            {% if profile.cover_photo == 'Cool' %}
                <div class="card text-bg-dark mb-2 profile-header rounded-0 cool">
            {% elif profile.cover_photo == 'Goth' %}
                <div class="card text-bg-dark mb-2 profile-header rounded-0 goth">
            {% elif profile.cover_photo == 'Serenity' %}
                <div class="card text-bg-dark mb-2 profile-header rounded-0 serenity">
            {% else %}
                <div class="card text-bg-dark mb-2 profile-header rounded-0 rock">
            {% endif %}


                {% if profile.image %}
                <img class="profile-image" src="{{ profile.image.url }}" alt="profile image">
                {% else %}
                <img class="profile-image float-start" src="{{ MEDIA_URL }}noimage.png" alt="profile image not available">
                {% endif %}

            <a class="edit-icon" data-bs-toggle="collapse" href="#pic-edit" role="button" aria-expanded="false"
              aria-controls="edit profile pictures collapse button">
              <i class="far fa-edit text-white"></i>
            </a>
          </div>
          <div class="collapse" id="pic-edit">
            <div class="card card-body border-0">
              <form action="{% url 'profile' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ image_form | crispy }}
                <input type="submit" class="btn btn-small bg-warning rounded-0" value="Add Selection">
              </form>
            </div>
          </div>
      </div>
      <div class="row">
          <!-- Nav tabs -->
          <ul class="nav nav-tabs mb-2" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active text-resp" id="home-tab" data-bs-toggle="tab" data-bs-target="#home"
                type="button" role="tab" aria-controls="home" aria-selected="true">Orders</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link text-resp" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile"
                type="button" role="tab" aria-controls="profile" aria-selected="false">Reviews</button>
            </li>
            <li class="nav-item text-resp" role="presentation">
              <button class="nav-link" id="settings-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button"
                role="tab" aria-controls="settings" aria-selected="false">Address</button>
            </li>
          </ul>

          <!-- Tab panes -->
          <!-- orders -->
          <div class="tab-content">
            <div class="tab-pane active" id="home" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
              {% if orders %}
              <div class="row d-none d-md-flex text-center">
                <div class="col-md-4"><h6><strong>Order Number</strong></h6></div>
                <div class="col-md-4"><h6><strong>Date</strong></h6></div>
                <div class="col-md-4"><h6><strong>Grand Total</strong></h6></div>
              </div>
              {% for order in orders %}
              <div class="row d-none d-md-flex text-center">
                <div class="col-md-4"><a class="text-decoration-none" href="{% url 'order_history' order.order_number %}" title="{{order.order_number}}">
                  <small>{{order.order_number|truncatechars:15}}</small></a>
                </div>
                <div class="col-md-4"><small>{{ order.date }}</small></div>
                <div class="col-md-4"><small>€{{ order.grand_total }}</small></div>
              </div>
              {% endfor %}
              {% for order in orders %}
              <div class="card text-center d-md-none text-center rounded-0 border border-2">
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Order No:<a class="text-decoration-none" href="{% url 'order_history' order.order_number %}" title="{{order.order_number}}">
                    <small>{{order.order_number|truncatechars:15}}</small></a></li>
                  <li class="list-group-item"><small>{{ order.date }}</small></li>
                  <li class="list-group-item">Grand Total: <small>{{ order.grand_total }}</small></li>
                </ul>
              </div>
              {% endfor %}
              {% else %}
              <div class="text-center mt-3">
                <h6>Your Order History is currently empty.</h6>
              </div>
              {% endif %}
            </div>
            <!-- reviews -->
            <div class="tab-pane" id="profile" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
              <!-- <div class="container"> -->
                <div class="row">
                  {% for review in reviews %}
                  <div class="col-12 col-md-6 col-lg-4 mb-3">
                    <div class="row">
                      <div class="col-3">
                        {% if review.product.image %}
                        <a href="{% url 'product_detail' review.product.id %}">
                          <img src="{{review.product.image.url}}" alt="{{review.product.name}}" style="width: 100%;">
                        </a>
                        {% else %}
                        <a href="{% url 'product_detail' review.product.id %}">
                          <img src="{{ MEDIA_URL }}noimage.png" alt="{{review.product.name}}" style="width: 100%;">
                        </a>
                        {% endif %}
                      </div>
                      <div class="col-9">
                        <a class="text-decoration-none" data-bs-toggle="collapse" href="#collapse{{review.product.id}}" role="button" aria-expanded="false" aria-controls="collapse{{review.product.id}}">
                          <h5><small>{{ review.product.name|truncatechars:20 }}</small></h5>
                          <p><small>{{ review.body|truncatechars:25 }} | <span><i class="fas fa-star yellow"></i></span> {{ review.rate }}</small></p>
                        </a>
                        <div class="text-end">
                          <a class="text-info text-decoration-none" href="{% url 'review' review.product.id %}"><small>Edit</small></a> |
                          <a class="text-danger text-decoration-none pe-5" href="" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{review.product.id}}"><small>Delete</small></a>
                        </div>
                      </div>
                    </div>
                    <div class="collapse" id="collapse{{review.product.id}}">
                      <div class="card card-body rounded-0 mt-3">
                        <p><strong>{{ review.product.name }}</strong></p>
                         <p><small>{{ review.body}}</small></p>
                      </div>
                    </div>
                  </div>
                  <!-- delete modal -->
                <div class="modal fade" id="staticBackdrop{{review.product.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                      <div class="modal-body">
                          <p>Are You Sure You Want To Delete This Review?</p>
                          <!-- <p>{{ review.product.name }}</p> -->
                      </div>
                      <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                      <a href="{% url 'delete_review' review.product.id %}" type="button" class="btn btn-primary">Delete</a>
                      </div>
                  </div>
                  </div>
              </div>
              <!-- end here modal -->
                  {% endfor %}

                  </div>
                <!-- </div> -->
            </div>
            <!-- address -->
            <div class="tab-pane" id="settings" role="tabpanel" aria-labelledby="settings-tab" tabindex="0">
              <div class="row col-12 col-md-6 m-auto">
                <div class="card border-0 mt-5">
                  <p class="my-1"><strong class="text-uppercase">NAME: </strong>{{ profile.user }}</p>
                  <p class="my-1"><strong class="text-uppercase">Email: </strong>{{ profile.user.email }}</p>
                  {% if profile.default_phone_number %}
                  <p class="my-1"><strong class="text-uppercase">PHONE NUMBER:
                    </strong>{{ profile.default_phone_number }}</p>
                  {% endif %}
                  <div class="text-center">
                    <p class="my-1">View saved <strong class="text-uppercase">Delivery Address</strong> below</p>
                    <p class="my-1">
                      {% if profile.default_street_address1 %}{{ profile.default_street_address1 }}{% endif %}
                      <span>
                        {% if profile.default_street_address2 %}{{ profile.default_street_address2 }}{% endif %}</span>
                    </p>
                    <p class="my-1">{% if profile.default_town_or_city %}{{ profile.default_town_or_city }}{% endif %}
                      <span>{% if profile.default_county %}{{ profile.default_county }}{% endif %}</span></p>
                    <p class="my-1">{% if profile.default_postcode %}{{ profile.default_postcode }} / {% endif %}
                      <span> {% if profile.default_country %}{{ profile.default_country }}{% endif %}</span></p>
                  </div>
                  <div class="card-footer text-end border-0 bg-white">
                    <a class="text-decoration-none" href="{% url 'edit_profile' %}">UPDATE PROFILE</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- trust statments here  -->
      {% include 'includes/mood_choices.html' %}
      {% include 'includes/trust-stm.html' %}
      {% endblock %}