{% extends "base.html" %}
{% load static %}
{% load cart_tools %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-backspace">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    {% if from_profile %}
    <div class="row">
        <div class="col text-center mb-2">
            <h2><span class="my-0"><strong>PICK </strong>&<strong> STRUM</strong> </span> Checkout Was Successful! <i class="fas fa-check-circle text-success"></i></h2>
        </div>
        <div class="row text-center">
            <p>Your order has been confirmed. A confirmation email was sent to <strong>{{ order.email }}</strong></p>
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col text-center mb-2">
            <h2><span class="my-0"><strong>PICK </strong>&<strong> STRUM</strong> </span> Checkout Successful! <i class="fas fa-check-circle text-success"></i></h2>
        </div>
    </div>
    <div class="row text-center">
        <p>Your order has been confirmed. A confirmation email will be sent to <strong>{{ order.email }}</strong></p>
    </div>
    {% endif %}
    <div class="row text-center col-10 m-auto">
        <p><strong>Order Summary</strong></p>
        <hr class="mb-2">
    </div>
    <div class="row col-12 col-md-9 col-lg-10 m-auto">
        <div class="col col-lg-6">
            <p class="m-0"><strong>Order No:</strong> {{ order.order_number }}</p>
        </div>
        <div class="col-12 col-lg-6">
            <p class="m-0 text-end"><strong>Ordered on:</strong> {{ order.date }}</p>
        </div>
    </div>
    <div class="row col-12 col-md-9 col-lg-10 m-auto mb-2">
        <div class="col-12 col-md-6">
            <p class="m-0"><small><i class="fas fa-user"></i> {{ order.full_name }}</small></p>
            <p class="m-0"><small><i class="fas fa-phone"></i> {{ order.phone_number }}</small></p>
            <p class="m-0"><small><i class="fas fa-address-book"></i><span> {{ order.street_address1 }}</span>,{% if order.street_address2 %}<span>{{ order.street_address2 }},</span>{% endif %} <span>{{ order.town_or_city }}</span></small></p>
            {% if order.county %}
            <p class="m-0"><small>{{ order.county }}</small></p>
            {% endif %}

            <p class="m-0"><small><i class="fas fa-circle"></i> {% if order.postcode %}{{ order.postcode }} / {% endif %} <span> {{ order.country }}</small></span></p>
        </div>
        <div class="col-12 col-md-6">
           <p class="m-0 text-end"><small><strong>Order Total:</strong> <span>{{ order.order_total }}</span></small></p>
           <p class="m-0 text-end"><small><strong>Delivery: </strong><span>{{ order.delivery_cost }}</span></small></p>
           <p class="m-0 text-end"><small><strong>Grand Total: </strong><span>{{ order.grand_total }}</span></small></p>
        </div>
    </div>
    <div class="row col-12 col-md-9 col-lg-10 m-auto">
        <div class="col-12 col-md-7 m-auto">
            {% for item in order.lineitems.all %}
                <div class="card-body border-top border-secondary pt-1">
                    <div class="row">
                        <div class="col-7"><small>{{ item.product.name }}.</small></div>
                        <div class="col-5 text-end"><small>--- qty: {{ item.quantity }} @ €{{ item.product.price }}</small></div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
 <!-- trust statments here  -->
 {% include 'includes/trust-stm.html' %}
{% endblock %}
