* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* ----------------------root colors  */
:root {
    --white: #fff;
    --light-grey: #ccc;
    --black: #000;
    --yellow: #F2B705;
    --off-white: #ebeae9;
    --rust: #A62F03;
    --rust-dark: #590902;
    --ash: #aaaaaa;
    --light-blue: #5d6977;
}

.bg-custom {
    background-color: var(--yellow);
    color: var(--black) !important;
}

body {
    font-family: 'Lato', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h-text {
    font-family: 'Roboto Condensed', sans-serif;
}

/*---------------------- logo styling */
.logo1 {
    font-family: 'Ruslan Display', cursive;
}

.logo2 {
    font-family: 'Henny Penny', cursive;
}

/* -----------------------scrollbar styling */
::-webkit-scrollbar {
    width: .7vw;
    background-color: var(--white);
}

::-webkit-scrollbar-track {
    border-radius: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--light-grey);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--black);
}

/* ---------------------main page styling  */
.header-backspace {
    padding-top: 133px;
}

.carousel-item {
    height: 66vh;
    background-color: var(--black);
    color: var(--white);
    position: relative;
    background-position: center;
    background-size: cover;
}

.hero-img-1 {
    background-image: url(/media/page-designs/hero-1.jpg);
}

.hero-img-2 {
    background-image: url(/media/page-designs/hero-2.jpg);
}

.hero-img-3 {
    background-image: url(/media/page-designs/hero-3.jpg);
}

.hero-box {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    padding-bottom: 50px;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-card {
    background-color: var(--rust);
    position: relative;
}

.hero-card-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    color: var(--white);
}

.hero-card-image {
    width: 100%;
}

/* -------------product page styling */
.yellow {
    color: var(--yellow);
}

.dynamic-card {
    box-shadow: 2px 2px 3px var(--ash);
}

.dynamic-card:hover {
    box-shadow: 2px 2px 3px var(--rust);
}

.product-image {
    transition: 1s;
}

.product-image:hover {
    overflow: hidden;
    -webkit-transform: scale(1.02);
    -moz-transform: scale(1.02);
    -ms-transform: scale(1.02);
    -o-transform: scale(1.02);
    transform: scale(1.02);
}

/*---------------------- cart styling */
.cart-items {
    position: relative;
}

.delete-btn {
    position: absolute;
    top: 70px;
    right: 30px;
}

/* ----------------element with cusors */
.btt-link {
    cursor: pointer;
}

.btt-btn {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 50px;
    right: 10px;
}

/*-------------------- allauth and general forms styling save stripe */
input,
.allauth-form-inner-content input,
.mail-chimp-box input,
.form-styling {
    box-sizing: border-box;
    border: 1px solid var(--black);
    border-radius: 0px;
    background-color: var(--white);
    padding: 10px 12px;
    box-shadow: 0 1px 3px 0 var(--light-blue);
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'],
.mail-chimp-box input[type='submit'],
.form-styling input[type='submit'],
.fancy-btn {
    font-weight: bold;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--white) !important;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: var(--rust) !important;
    ;
    border: 1px solid var(--rust);
    ;
    padding: .375rem .75rem;
    font-size: 1.2rem;
    line-height: 1.5;
    border-radius: 0;
    box-shadow: 0 1px 3px 0 var(--light-blue);
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    transition: 300ms ease;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover,
.mail-chimp-box input[type='submit']:hover,
.form-styling input[type='submit']:hover,
.fancy-btn:hover {
    color: var(--black) !important;
    background-color: var(--yellow) !important;
}

#div_id_rate div {
    display: flex;
}

#div_id_rate label {
    display: none;
}

#div_id_rate div .form-check {
    margin-right: 5px;
}

/* --------------pagination styling */
.text-responsive {
    font-size: clamp(0.8rem, 0.9vw, 1.1rem) !important;
    font-weight: bold;
}

/*------------------- toast styling */
.message-container {
    position: fixed;
    right: 5px;
    top: 100px;
    z-index: 99999999;
    width: 310px;
}

/* --------------------error page styling*/
.error-page {
    position: relative;
    height: 70vh;
}

/* https://css-tricks.com/snippets/css/transparent-background-images/ */
.error-page::after {
    content: "";
    background-image: url("/media/guitar_404.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.8;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.text-404 {
    font-size: 2.5rem;
    font-weight: bold;
}

/* media styling for screen size mobile  */
@media (max-width: 991px) {
    .header-backspace {
        padding-top: 115px;
    }
}