    <!-- main-nav  -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav w-auto mx-auto">
            <li class="dropdown">
                <a id="all-products" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                    All Products
                </a>
                <ul class="dropdown-menu dropdown-menu border-0" aria-labelledby="all-products">
                    <li><a class="dropdown-item" href="{% url 'products' %}?sort=price&direction=asc">By Price</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?sort=rating&direction=desc">By Rating</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?sort=category&direction=asc">By Category</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}">All Products</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a id="guitar" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                    Guitar
                </a>
                <ul class="dropdown-menu dropdown-menu border-0" aria-labelledby="guitar">
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=electric_guitar">Electric Guitar</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=acoustic_guitar">Acoustic Guitar</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=bass_guitar">Bass Guitar</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=electric_guitar,acoustic_guitar,bass_guitar">All Guitars</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a id="orchestral" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                    Orchestral
                </a>
                <ul class="dropdown-menu dropdown-menu border-0" aria-labelledby="orchestral">
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=violin">Violin</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=cello">Cello</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=banjo">Banjo</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=violin,cello,banjo">All Orchestral</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a id="accessories" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                    Accessories
                </a>
                <ul class="dropdown-menu dropdown-menu border-0" aria-labelledby="accessories">
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=picks">Picks</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=amps">Amps</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=carry_case">Carry Cases</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=strings">Strings</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=tuners">Tuners</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a id="seasonal-offers" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                    Seasonal Offers
                </a>
                <ul class="dropdown-menu dropdown-menu border-0" aria-labelledby="seasonal-offers">
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=clearance">Clearance</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=deals">Deals</a></li>
                    <li><a class="dropdown-item" href="{% url 'products' %}?category=clearance,deals">All Specials</a></li>
                </ul>
            </li>
            <li><a class="nav-link" href="#">Blog</a></li>
        </ul>
    </div>