    <!-- main-nav  -->
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav w-auto mx-auto">
            <li class="dropdown">
                <a id="all-products" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                    All Products
                </a>
                <ul class="dropdown-menu dropdown-menu border-0" aria-labelledby="all-products">
                    <li><a class="dropdown-item" href="#">By Price</a></li>
                    <li><a class="dropdown-item" href="#">By Rating</a></li>
                    <li><a class="dropdown-item" href="#">By Category</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a id="guitar" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                    Guitar
                </a>
                <ul class="dropdown-menu dropdown-menu border-0" aria-labelledby="guitar">
                    <li><a class="dropdown-item" href="#">Electric Guitar</a></li>
                    <li><a class="dropdown-item" href="#">Acoustic Guitar</a></li>
                    <li><a class="dropdown-item" href="#">Bass Guitar</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a id="orchestral" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                    Orchestral
                </a>
                <ul class="dropdown-menu dropdown-menu border-0" aria-labelledby="orchestral">
                    <li><a class="dropdown-item" href="#">Violin/Viola</a></li>
                    <li><a class="dropdown-item" href="#">Cello</a></li>
                    <li><a class="dropdown-item" href="#">Banjo</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a id="accessories" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                    Accessories
                </a>
                <ul class="dropdown-menu dropdown-menu border-0" aria-labelledby="accessories">
                    <li><a class="dropdown-item" href="#">Picks</a></li>
                    <li><a class="dropdown-item" href="#">Amps</a></li>
                    <li><a class="dropdown-item" href="#">Carry Cases</a></li>
                    <li><a class="dropdown-item" href="#">Strings</a></li>
                    <li><a class="dropdown-item" href="#">Tuners</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a id="seasonal-offers" class="nav-link" data-bs-toggle="dropdown" aria-expanded="false">
                    Seasonal Offers
                </a>
                <ul class="dropdown-menu dropdown-menu border-0" aria-labelledby="seasonal-offers">
                    <li><a class="dropdown-item" href="#">Clearance</a></li>
                    <li><a class="dropdown-item" href="#">Deals</a></li>
                    <li><a class="dropdown-item" href="#">New Arrivals</a></li>
                    <li><a class="dropdown-item" href="#">All Specials</a></li>
                </ul>
            </li>
        </ul>
    </div>