       <!-- mobile top  -->
       <li class="list-inline-item">
           <a class="nav-link d-block d-lg-none" data-bs-toggle="collapse" href="#searchicon" role="button"
               aria-expanded="false" aria-controls="searchicon" aria-haspopup="true">
               <div class="text-center">
                   <div><i class="fas fa-search fa-lg"></i></div>
                   <p class="my-0">Search</p>
               </div>
           </a>
       </li>
       <li class="list-inline-item dropdown">
           <a class="nav-link d-block d-lg-none" href="#" role="button" id="user-options" data-bs-toggle="dropdown"
               aria-expanded="false">
               <div class="text-center">
                   <div><i class="fas fa-user fa-lg"></i></div>
                   <p class="my-0">My Account</p>
               </div>
           </a>
           <ul class="dropdown-menu border-0" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <li><a class="dropdown-item" href="#">Management</a></li>
                    {% endif %}
                <li><a href="#" class="dropdown-item">Profile</a></li>
                <li><a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a></li>
                {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </ul>
       </li>
       <li class="list-inline-item">
           <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link d-block d-lg-none"
               href="#">
               <div class="text-center">
                   <div><i class="fas fa-shopping-cart"></i></div>
                    <p class="my-0">
                        {% if grand_total %}
                            ${{ grand_total|floatformat:2 }}
                        {% else %}
                            $0.00
                        {% endif %}
                    </p>
               </div>
           </a>
       </li>