{% extends "base.html" %}
{% load static %}
{% block extra_title %} Blog{% endblock %}
{% block page_header %}
<div class="container header-backspace bg-dark">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container bg-dark py-5">
    <div class="row justify-content-center mb-5">
        <div class="col-12 col-md-6 bg-danger mb-2">
          <img src="{{ MEDIA_URL }}arena.jpg" alt="" width="100%" height="100%">
        </div>
        <div class="col-12 col-md-6 bg-warning mb-2">
            <img src="{{ MEDIA_URL }}arena.jpg" alt="" width="100%" height="100%">
        </div>
    </div>
    <div class="row mb-5">
        <div class="col-12 bg-info">
            <img src="{{ MEDIA_URL }}party.jpg" alt="" width="100%" height="100%">
        </div>
    </div>
    <div class="row row-cols-1 row-cols-md-3 g-3">
        <div class="col">
          <div class="card h-100">
            <img src="{{ MEDIA_URL }}audio-headset.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">{{ posts }}</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{{ MEDIA_URL }}solar.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">{{ top_stories }}</p>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img src="{{ MEDIA_URL }}headset.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">{{ on_blog }}</p>
            </div>
          </div>
        </div>
      </div>
</div>

{% endblock %}