{% extends "base.html" %}
{% load static %}
{% block extra_title %} Blog Home{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'blog/css/blog.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-backspace">
  <div class="row">
    <div class="col">

    </div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <!-- left side bar -->
    <div class="col col-md-2 d-none d-lg-block">

        <div class="card rounded-0 post-card text-center bg-warning py-3 dynamic-card" style="width: 95%; margin: auto;">
          <img src="{{ MEDIA_URL }}esp-guitar.png" class="card-img-top rounded-0" alt="standing guitar image back ground">
          <div class="text-box py-2 border-0">
            <p class="card-text"><span class="my-0"><strong>PICK </strong>&<strong> STRUM</strong></span></p>
            <a href="{% url 'products' %}" class="card-title btn btn-lg btn-primary">SHOP NOW</a>
          </div>
        </div>

    </div>
    <!-- middle content -->
    <div class="col col-md-7">
      <div class="card rounded-0 border-0">
        {% if post.featured_image.url %}
        <img src="{{ post.featured_image.url }}" class="card-img-top rounded-0 border-0" alt="..." >
        {% else %}
        <img src="https://res.cloudinary.com/shybold/image/upload/v1664883644/solar_imbgzk.jpg" class="card-img-top rounded-0 border-0" alt="..." >
        {% endif %}
        <div class="card-body text-end">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{ post.created_on }}</p>
          <p class="card-text">{{ post.author }}</p>
        </div>
      </div>
      <div class="content">
        <p>{{ post.content|safe }}</p>
      </div>
      {% if user.is_authenticated %}
        <div class="d-flex">
          <p class="text-muted"><i>rate this post</i></p>
        <!-- like post form  -->
          <form action="{% url 'post_likes' post.slug %}" method="POST">
            {% csrf_token %}
            {% if liked %}
            <button class="border-0 bg-transparent px-2" type="submit"><i class="fas fa-heart likes-dislikes"></i><span> {{ post.number_of_likes }}</span></button>
            {% else %}
            <button class="border-0 bg-transparent px-2" type="submit"><i class="fas fa-heart"></i><span> {{ post.number_of_likes }}</span></button>
            {% endif %}
          </form>
          <!-- dislike post form -->
          <form action="{% url 'post_dislikes' post.slug %}" method="POST">
            {% csrf_token %}
            {% if disliked %}
            <button class="border-0 bg-transparent px-2" type="submit"><i class="fas fa-heart-broken likes-dislikes"></i><span> {{ post.number_of_dislikes }}</span></button>
            {% else %}
            <button class="border-0 bg-transparent px-2" type="submit"><i class="fas fa-heart-broken"></i><span> {{ post.number_of_dislikes }}</span></button>
            {% endif %}
          </form>
        </div>
      {% else %}
        <p class="mb-5"><i><span><a href="{% url 'account_signup' %}" class="text-decoration-none">Sign Up</a></span> or <span><a href="{% url 'account_login' %}" class="text-decoration-none">Login</a></span> To Rate This Post!</i></p>
      {% endif %}

    </div>
    <!-- right side bar -->
    <div class="col col-md-4 col-lg-3 d-none d-sm-block bd-toc text-muted">
      {% for post in posts %}
      <div class="card rounded-0 border-0 mb-2 py-0" style="width: 95%; margin: auto;">
        <a href="{% url 'view_post' post.slug %}">
            {% if post.featured_image.url %}
          <img src="{{ post.featured_image.url }}" class="card-img-top rounded-0 border-0" alt="..." >
          {% else %}
          <img src="https://res.cloudinary.com/shybold/image/upload/v1664883644/solar_imbgzk.jpg" class="card-img-top rounded-0 border-0" alt="..." >
          {% endif %}
        </a>
        <div class="card-body">
          <h5 class="card-title">{{ post.title}}</h5>
          <p class="card-text">{{ post.excerpt|truncatechars:100 }}</p>
        </div>
        <div class="card-footer bg-white border-0 p-0 text-end">
          <p class="card-text bg-danger p-2 author"><strong>{{ post.author }}</strong></p>
        </div>
      </div>
      {% endfor %}
        <!-- pagination -->
      <div class="row my-2">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
              {% if posts.has_previous %}
                <li class="page-item"> <a class="page-link text-responsive" href="?page=1">&laquo; first</a></li>
                <li class="page-item"><a class="page-link text-responsive" href="?page={{ posts.previous_page_number }}">previous</a></li>
              {% endif %}

              <span class="current">
                <li class="page-item disabled"><a class="page-link text-responsive rounded-0" href="">Page {{ posts.number }} of
                    {{ posts.paginator.num_pages }}.</a></li>
              </span>

              {% if posts.has_next %}
                <li class="page-item"><a class="page-link text-responsive" href="?page={{ posts.next_page_number }}">next</a></li>
                <li class="page-item"><a class="page-link text-responsive" href="?page={{ posts.paginator.num_pages }}">last &raquo;</a></li>
              {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
{% endblock %}