{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block inner_content %}
<div class="my-5" style="height: 6vh;"></div>
<h3>{% trans "Sign Out" %}</h3>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-small btn-warning rounded-0" type="submit">{% trans 'Sign Out' %}</button>
</form>
<div class="my-5" style="height: 7vh;"></div>


{% endblock %}
