{% extends "base.html" %}
{% load static %}
{% block extra_title %} Management/Store Manager{% endblock %}
{% block page_header %}
<div class="container header-backspace">
    <div class="row">
        <div class="col">

        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% if request.user.is_superuser %}
    <div class="row">
        <div class="col-12">
            <h6>Wellcome: superuser</h6>
            <p>find below the tools to manage the pick n' strum store</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-12">
            <h6>Product Store</h6>
            <div class="my-3">
                <a href="{% url 'add_product' %}" class="fancy-btn text-decoration-none">Add Product</a>
            </div>
            <div>
                <p class="mt-2"><i class="fas fa-exclamation text-info pe-2"></i> <small class="text-muted">Please note.
                        While logged in as {{superuser}}super you have access to add
                        new products from here.</small><br>
                    <small><span class="text-muted">To edit or delete products you can find the</span>
                        <span><span class="text-info">edit</span>/<span class="text-danger">delete</span></span> <span
                            class="text-muted"> links attached to each products on the product
                            page</span> </small><a href="{% url 'products' %}" class="text-decoration-none">here</a>
                </p>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="row m-o">
            <div class="col">
                <h6>Blog Post</h6>
                <div class="my-3">
                    <a href="{% url 'add_post' %}" class="fancy-btn text-decoration-none">Add Post</a>
                </div>
            </div>
        </div>
        <div class="row m-0 row-cols-1 row-cols-md-2 g-2">

        {% for post in posts %}
            <div class="col">
                <div class="card h-100 rounded-0">
                    <div class="card-body py-2">
                        <h6>{{ post.title }}</h6>
                            <div class="text-end">
                                <small>
                                    {% if post.status == 1%}
                                    {{ post.category.friendly_name }} | Published | <i class="fas fa-heart"></i><span>
                                        {{ post.number_of_likes }}</span> | <i class="fas fa-heart"></i><span>
                                        {{ post.number_of_dislikes }}</span>
                                    {% else %}
                                    {{ post.category }} | Draft
                                    {% endif %}
                                </small>
                            </div>

                        <p class="m-0">{{ post.excerpt|truncatechars:100 }}</p>
                    </div>
                    <div class="card-footer bg-white border-0 pt-0">
                        {% if post.status == 1 %}
                        <a class="text-decoration-none me-5" href="{% url 'view_post' post.slug %}"><small><i class="fab fa-readme"></i>...VIEW POST</small></a>
                        <a class="text-decoration-none" href="{% url 'edit_post' post.slug %}"><small><i class="fas fa-edit"></i>...EDIT</small></a>
                        {% else %}
                        <a class="text-decoration-none" href="{% url 'edit_post' post.slug %}"><small><i class="fas fa-edit"></i>...EDIT</small></a>
                        {% endif %}
                        <a class="text-decoration-none ms-5" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{post.slug}}" href=""><small>DELETE</small></a>
                    </div>
                </div>
            </div>
            <!-- delete modal -->
            <div class="modal fade" id="staticBackdrop{{post.slug}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content rounded-0">
                    <div class="modal-body text-center">
                        <p class="m-0"><small>Are You Sure You Want To Delete This Product?</small></p>

                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn fancy-btn" data-bs-dismiss="modal">Cancel</button>
                    <a href="{% url 'delete' post.slug %}" type="button" class="btn btn-danger rounded-0">Delete</a>
                    </div>
                </div>
                </div>
            </div>
        <!-- end here modal -->
        {% endfor %}
        </div>
        <!-- pagination -->
        <div class="row my-2">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                    {% if posts.has_previous %}
                    <li class="page-item"> <a class="page-link text-responsive" href="?page=1">&laquo; first</a>
                    </li>
                    <li class="page-item"><a class="page-link text-responsive"
                            href="?page={{ posts.previous_page_number }}">previous</a></li>
                    {% endif %}

                    <span class="current">
                        <li class="page-item disabled"><a class="page-link text-responsive rounded-0" href="">Page
                                {{ posts.number }} of
                                {{ posts.paginator.num_pages }}.</a></li>
                    </span>

                    {% if posts.has_next %}
                    <li class="page-item"><a class="page-link text-responsive"
                            href="?page={{ posts.next_page_number }}">next</a></li>
                    <li class="page-item"><a class="page-link text-responsive"
                            href="?page={{ posts.paginator.num_pages }}">last &raquo;</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
    {% else %}
    <div class="row my-5">
        <div class="col text-center">
            <h4 class="text-danger">You do not have permission to be on this page</h4>
        </div>
    </div>
    {% endif %}
</div>
<!-- trust statments here  -->
{% include 'includes/trust-stm.html' %}
{% endblock %}
